html, body {
	height: 100%;
}

body {
	margin: 0;
  	font: 16px Sans-Serif;
	display: flex;
	flex-direction: column;
}

/*IDEA CHANGE THE HEIGHT TO BE SMALLER AND MAKE THIS PART WHERE THE TITLE GOES, MAYBE USE THE GLITCH EFFECT*/
.top-container {
	background: #24305E;
	background: url("../Photos/5.jpg") no-repeat center;
	text-align: center;
	min-height: 100%;
}

.top-container > p {
	color: white;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 100px;
}

.content {
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 20px;
	background-color: #252B37;
}