.before-site-footer{
    background-image: url("../Photos/wave-haikei.svg");
    height: 250px;
    width: 100%;
}


.site-footer{
    background: #20232b;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.site-footer a{
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.site-footer a:hover{
    color: #02d769;
    transition: all ease .3s;
    transform: translateY(-2px);
}

/* Mobile screen */
@media (max-width: 768px){
    .site-footer{
        flex-direction: column;
    }
    .site-footer-mid{
        padding-top: 1rem;
    }
    .site-footer-right{
        padding-top: 1rem;
    }
}