.flex-footer {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	text-align: center;
}

.flex-left {
	background-color: #040404;
	padding: 10px;
	flex: 25%;
}

.flex-mid {
	background-color: #040404;
	padding: 10px;
	flex: 50%;
}

.flex-right {
	background-color: #040404;
	color: white;
	padding: 10px;
	flex: 25%;
}

.flex-icons{
	padding: 2px;
}

.flex-icons a{
	color: white;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
}

.flex-icons a:hover{
	color: #13c6e4;
}

@media (max-width: 800px){
	.flex-footer{
		flex-direction: column;
	}
}