*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    min-height: 100%;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #1D2026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.body-wrap{
    max-width: 1980px;
}

.resume-section{
    height: 100vh;
    background: #1d2026 ;
}

.scrollTop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: white url("../Photos/up-arrow.png");
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.scrollTop.active{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px){
    *{
        font-size: 14px;
    }
    .scrollTop{
        bottom: 50px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-size: 50px;
    }
}
