html, body{
	height: 100%;
	font-family: "Courier New", "Times New Roman";
	background-color: black;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.top-container{
	background: black;
	background: url("../Photos/suit.jpeg") no-repeat center;
	text-align: center;
	min-height: 100%;
}

.content{
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(67,75,156,1) 65%, rgba(83,179,151,1) 100%);
}

/*This ccontainer holds flex items*/
.flex-content{
	display: flex;
	flex-direction: row;
	margin: 30px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*Styles the Picture card that holds the profile image, title and contact buttons*/
.pic-card{
	margin: 10px;
	/*Stops profile picture from going outside the div*/
	overflow: hidden;
	/*To help align elements*/
	display: flex;
	/*to align the elements in the card to be in a column*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*soften the corners of the card*/
	border-radius: 5px;
}

.profile-image-container > img{
	height: 360px;
	max-width: 540px;
	padding: 20px;
}

.contact-buttons a{
	background-color: orange;
}

.bio-card{
	margin: 10px;
	display: flex;
	/*to align the elements in the card to be in a column*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*soften the corners of the card*/
	border-radius: 5px;
}

.aboutMe{
	padding: 20px;
}

@media (max-width: 800px){
	.flex-content{
		flex-direction: column;
		align-items: center;
	}
}