/*This controls the Navigation Bar for the website
-Needs to be more mobile friendly when resizing the browser, 
have it collapse down and make it a drop down list

-When another tab OTHER than Home is active make sure that Home is NOT highlighted

SOURCE: https://codepen.io/Patak/pen/QpLpOV/?editors=1100
Used for the navigation bar with minor tweaks in shape and color scheme*/
nav {
	margin: 0 0 auto;
	position: relative;
	width: auto;
	height: 40px;
	background-color: #0B0C10;
	font-size: 0;
}
nav a {
	line-height: 40px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	/*border: 2px solid #3AAFA9;*/ /*for debug purposes*/
}

nav .active{
	background-color: #13c6e4; 
	border-radius: 20px;
	color: black;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 20px;
}

/*The Width controls the spacing of the Words on the Navigation Bar
-Try and find a way to make this dynamic to not have to rely on eyeballing it
-Left is also dependent on Width values so they need to be changed accordingly*/
a:nth-child(1) { width: 80px; }
a:nth-child(2) { width: 80px; }
a:nth-child(3) { width: 100px; }
a:nth-child(4) { width: 90px; }
a:nth-child(5) { width: 100px; }

nav .start-home, a:nth-child(1):hover~.animation {
	width: 80px;
	left: 0;
	background-color: #ce1c69; /*Controls slider color*/
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 80px;
	left: 80px;
	background-color: #ce1c69;
}
nav .start-projects, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 160px;
	background-color: #ce1c69;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 90px;
	left: 260px;
	background-color: #ce1c69;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 350px;
	background-color: #ce1c69;
}
