nav{
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.menu{
	list-style-type: none;
}

.menu li a{
	text-decoration: none;
	padding: 7px 15px;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 50em;
}

.menu li a:hover, .menu li a.active:hover{
	background: #d1094e;
	color: white;
}

.menu li a.active{
	background: #434b9c;													
	color: white;
}

.menu li{
	font-size: 16px;
	padding: 10px 10px;
}
/*Adjusts the padding for the toggle button in mobile*/
li.toggle{
	padding: 10px 20px;
}

.menu li a{
	display: block;
}

.logo img{
	width: 50px;
	height: 50px;
}


/*Mobile Menu*/
.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle{
	order: 0;
}

.item{
	width: 100%;
	text-align: center;
	order: 1;
	display: none;
}
/*javascript will add this class dynamcially when the toggle is clicked*/
.item.active{
	display: block;
}

/*Start TOGGLE*/
.toggle{
	cursor: pointer;
}

.bars{
	background: white;
	display: inline-block;
	height: 3px;
	width: 20px;
	position: relative;
}

.bars::before, .bars::after{
	background: white;
	content:""; 
	display: inline-block;
	height: 3px;
	width: 20px;
	position: absolute;
}

.bars::before{
	top: -10px;
}
.bars::after{
	top: -5px;
}
/*End TOGGLE*/


/*Desktop Menu*/
@media all and (min-width: 768px){
	.item{
		display: block;
		width: auto;
		order: 1;
	}
	.toggle{
		display: none;
	}
	.logo{
		flex-grow: 1;
		order: 0;
	}
	.menu li{
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
}