:root {
	/*Buttons*/
	--main-bt-color: #ffffff;
	--main-bt-text: #000000;
	--bt--hover-color: #d1094e;
	--bt-text-hover: #ffffff;
}

html, body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(67,75,156,1) 65%, rgba(83,179,151,1) 100%);
}

.projects-container{
	display: flex;
	flex-direction: column;
	margin: 30px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
/*	border-radius: 5px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	background-color: white;*/
	/*gap: 2rem;*/
}

.project{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 0;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* Style the project sections more to make them pop*/
}

.proj-preview{
	display: flex;
	flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
.proj-image{
	/*Style the preview image container here, or video/gif, whatever you need*/
	height: auto;
	width: 100%;
}
.proj-image > img{
	border-radius: 5px;
	height: auto;
	width: 100%;
}

.proj-buttons-container{
	/*Style the button container*/
	padding: 10px;
}
.proj-buttons-container > a,
.proj-description-container > a{
	/*Style buttons*/
    text-decoration: none;
	padding: 5px 15px;
	font-size: 14px;
	background-color: var(--main-bt-color);
	color: var(--main-bt-text);
	border: 1px solid black;
	/* 	Make them glossy glass buttons? <---------------ATTENTION NEEDED */
	border-radius: 50em;
}
.proj-buttons-container > a:hover{
	background: var(--bt--hover-color);
	color: var(--bt-text-hover);
}
/* ADD ANIMATION HERE FOR BUTTONS*/

.proj-description-container{
	margin: 0;
	padding: 5px;
	text-align: left;
	color: white;
}

/*Desktop view*/
@media all and (min-width: 768px){
	/*change layout for bigger screens*/
    /* Scale the image to fit desktop version */
    /* Make the preview container sit to the left of the description
    take up 25%? maybe */
    .project{
    	flex-direction: row;
    }
    .proj-preview{
    	width: 25%;
    }
    .proj-description-container{
        /* helps keep content away from */
    	margin-left: 10px;
    }

}