:root {
  /*Buttons*/
  --main-bt-color: #ffffff;
  --main-bt-text: #000000;
  --bt--hover-color: #dc2051;
  --bt-text-hover: #ffffff;
}

html, body{
  height: 100%;
  font-family: "Times New Roman";
  background-color: black;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content{
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(67,75,156,1) 65%, #7a799d 100%);
}

/* PDF Button Styling*/
.pdf-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pdf-button{
  text-decoration: none;
  padding: 5px 15px;
  font-size: 20px;
  background-color: var(--main-bt-color);
  color: var(--main-bt-text);
  border: 1px solid black;
  border-radius: 50em;
}

.pdf-button:hover{
  background: var(--bt--hover-color);
  color: var(--bt-text-hover);
}
/* End PDF Button Styling*/

/* Font size control*/
.section-title,
.sub-title, 
.sub-title-italics,
.location, 
.date, 
.bullet{
  font-size: clamp(0.7rem, 0.3077rem + 1.0256vw, 1rem);
}

/* Mobile Version */
.resume-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: white;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title > h1{
  font-size: 32px;
  margin-bottom: 0;
}

.contact-info{
  font-size: 10px;
  margin: 0;
}

.resume-button{
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.resume-button:hover{
  color: #d1094e;
}

.section{
  margin-bottom: 20px;
}

.section-title{
  font-weight: bold;
  /*font-size: 16px;*/
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

.sub-title{
  font-weight: bold;
}

.sub-title-italics{
  font-style: italic;
  margin: 0;
  padding: 0;
}

.alignment-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.alignment-wrapper > p{
  margin: 1px;
  padding: 0;
}

.bullet{
  padding-left: 5%;
}

/* Desktop Version (does not support 4k)*/
@media screen and (min-width: 800px){
  .resume-container{
    margin: 40px;
    padding: 10px;
  }

  .title > h1{
    font-size: 36px;
    margin-bottom: 0;
  }

  .contact-info{
    font-size: 18px;
    margin: 0;
  }

  .section-title{
    font-size: 20px;
  }

  .alignment-wrapper{
    margin-left: 20px;
    margin-right: 20px;
  }

  .alignment-wrapper > p{
    margin: 5px;
    padding: 0;
  }

}