html, body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(67,75,156,1) 65%, rgba(83,179,151,1) 100%);
}




@media (max-width: 800px){

}


