.resume-section{
    min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    padding: 32.5px 0 32.5px;
}



@media (max-width: 768px){
    .resume-section{
        margin-top: 1rem;
        padding-top: 1rem;
        flex-direction: column-reverse;
    }
    
}
