html, body {
	height: 100%;
}

body {
	margin: 0;
  	font: 16px Sans-Serif;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 20px;
	background-color: #f2f3f4;
}

.flex-content {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	text-align: center;
	gap: 20px;
}

.card1 {
	background-color: white;
	color: grey;
	padding: 10px;
	flex: 33.3%;
	border-radius: 5px;
	box-shadow: black 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card2 {
	background-color: white;
	color: grey;
	padding: 10px;
	flex: 66.6%;
	border-radius: 5px;
	box-shadow: black 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card1-inner {
	background-color: white;
	color: grey;
}

.card1-inner-top {
	background-color: white;
	color: grey;
	flex: 25%;
}
.card1-inner-bottom {
	background-color: white;
	color: grey;
	flex: 75%;
}


@media (max-width: 800px){
	.flex-content{
		flex-direction: column;
		gap: 10px;
	}
}


